%sf-light {
    font-family: 'SFProDisplay-Light', sans-serif;
    font-weight: 300;
}

%sf-regular {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 500;
}

%sf-medium {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 400;
}

%sf-bold {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

%sf-semibold {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
}