@import "vars";
@import "libs";
@import "fonts";
@import "burger";
@import "global";
.header {
    min-height: 700px;
    background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
    &__inner {
        color: #FFFFFF;
        padding-top: 29px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 85px;
    }
    &__info-collumn {
        min-height: 442px;
    }
    &__info-text {
        max-width: 515px;
        padding-top: 43px;
    }
    &__text {
        font-weight: 350;
        font-size: 24px;
        line-height: 31px;
        padding-top: 30px;
    }
    &__button {
        padding-top: 76px;
    }
    &__info-img {
        max-width: 685px;
        margin-left: -40px;
        position: relative;
        & img {
            width: 100%;
        }
    }
}

.opportunities {
    &__title {
        padding-top: 102px;
        font-weight: 600;
        font-size: 27px;
        line-height: 52px;
    }
    &__items {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
    }
    &__item {
        margin-top: 30px;
        max-width: 570px;
        min-height: 235px;
        background: #F6F5F9;
        border-radius: 6px;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 40px;
        padding-top: 21px;
        padding-right: 10px;
        transition: all .5s;
    }
    &__item:hover {
        background: #F6F5E7;
    }
    &__item-text {
        padding-top: 22px;
    }
    &__item-info {
        padding-top: 22px;
    }
    &__item-info {
        max-width: 292px;
    }
    &__item-img {
        max-width: 193px;
        position: relative;
        margin-left: 35px;
    }
    &__item-img & img {
        width: 100%;
    }
}

.footer {
    &__inner {
        padding-top: 130px;
        padding-bottom: 185px;
    }
    &__info {
        background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
        border-radius: 10px;
        padding-left: 70px;
        padding-top: 70px;
        position: relative;
        min-height: 372px;
    }
    &__info-text {
        font-weight: 600;
        font-size: 34px;
        line-height: 45px;
        color: #FFFFFF;
        max-width: 558px;
    }
    &__info-button {
        padding-top: 46px;
    }
    &__info-img {
        position: absolute;
        left: 37.5%;
        top: 7%;
    }
}

.menu {
    display: flex;
    width: 290px;
    justify-content: space-between;
    &__item {
        cursor: pointer;
        transition: all .5s;
    }
    &__item:hover {
        font-weight: 600;
    }
    &__item-login {
        padding-right: 25px;
        position: relative;
    }
    &__item-login::before {
        content: url(../img/account.png);
        width: 24px;
        height: 24px;
        position: absolute;
        left: -36px;
        cursor: pointer;
    }
}

.button {
    padding: 16px 60px;
    font-size: 18px;
    background: #F25B24;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        background: #F25BC5;
    }
}

.popup {
    width: 100vw;
    height: 100vh;
    background: rgba(28, 24, 47, 0.3);
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form-container {
        min-width: 490px;
        min-height: 472px;
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__form-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #2E2D35;
    }
}

.page-form {
    &__name-label {
        font-weight: 350;
        font-size: 18px;
        line-height: 24px;
        color: #474351;
    }
    & input {
        width: 320px;
        height: 50px;
    }
    &__button {
        background: #F25B24;
        border-radius: 4px;
        color: #FFFFFF
    }
}

@import "media";